:root {
    --header-background: #4E0707;
    --global-hover: #ff0000;
    --text-color:white;
    --background-color: white;

}

h1, h2 {
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 600;
}
p, a, li {
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 400;
}

header {
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--header-background);
    color: white;
    font-size: 2.5rem;
    font-size: large;
}
header span {
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 600;
    font-size: 2rem;
}
#profile {
    width: 80px;
    margin: 20px;
    border-radius: 10%;
}
#name {
    font-size: 1.5rem;
    width: 130px;
    word-wrap: break-word;
}
/* hamburger menu */
#menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: white;
    position: absolute;
    left: 0;
    top: 25px;
    padding: 15px;
    cursor: pointer;
}
#menu::before {
    content: "☰";
}
#menu.active::before{ 
    content: "✕";
}
nav {
    display: none;
}
nav.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
}
nav a {
    display: block;
    padding: 15px;
    color: #fff !important; 
    text-decoration: none;
}
nav a:hover {
    color: var(--global-hover);
    text-decoration: underline;
}
main h1 {
    text-align: center;
    font-size: 1.3rem;   
}
.solid {
    border: none;
    border-top: 1px solid rgb(185, 185, 185); 
    width: 85%;
    margin: -5px auto;
    margin-bottom: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(185, 185, 185);
    margin: 10px;
    border-radius: 10px;
}
.card h2 {
    background-color: var(--header-background);
    color: white;
    font-size: 1.5rem;
    text-align: center;
    padding: 5px;
    margin-top: 0px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
ul {
    list-style-type: none; 
}
.card p {
    text-align: center;
    font-size: 1rem;
    margin: 15px;
}
footer {
    background-color: var(--header-background);
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2px;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-top: auto;
    position: relative;
}
.adress {
    display: flex;
    justify-content: center;
    align-items: center;
}
#copyright, #author {
    margin-bottom: auto;
}
#flag {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    
}
#updated {
    font-size: 0.8rem;
    color: yellow;
    margin-top: auto;
}

nav a.active::before {
	content: "♦";
    margin-right: 5px;
    color: red;
    text-shadow: 0 0 5px red;
}

.hero picture img {
    margin: 0 auto;
    display: block;
}

#dark {
    position: absolute;
    right: 0;
    top: 10px;
    margin: 15px;
    font-size:2rem;
    border: 0;
    background: none;
    color: white;
    padding: 15px;
    cursor: pointer;
}

#dark::before {
    background: none;
    content: "☾";
}
#dark.active::before {
    background: none;
    content: "☼";
}

.hero {
    position: relative;
}
.hero img {
    width: 80%;
    height: auto;
    border-radius: 30px;
    padding-top: 10px;
}
.hero img.active {
    background-image: url("images/hero-large-dark.webp");
}
.hero h2 {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    text-shadow: 0 0 10px black;
}
#map {
    width: 90%;
    padding: 10px;
    margin: 0 auto;
    display: block;
}