@media screen and (min-width: 500px) {

    #name {
        font-size: 2rem;
        width: 300px;
    }
    #menu {
        display: none;
    }
    nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: black;
    }
    .cards-container {
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        gap: 0;
    }
    footer {
        background-color: var(--header-background);
        color: white;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 20px;

    }
    .adress, #copyright, #author {
        padding-right: 10px;
        margin-bottom: 20px;
    }
    #updated {
        display: block;
        position: fixed;
        margin-top: 40px;
        
    }
    .hero img {
        width: 40%;
        height: auto;
        padding-top: 10px;
    }
}